<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<suite name="All Test Suite">

<!--    <parameter name="URL" value="google1.com"/>-->
<!--    <parameter name="URL2" value="google2.com"/>-->
    <test verbose="2" preserve-order="true" name="/Users/deep.ray/Documents/testngselenium">
       <groups>
           <run>
               <include name="Sanity"/>
           </run>
       </groups>

        <classes>
            <class name="test2"/>
        </classes>
    </test>
</suite>